.player-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-group mat-form-field {
  width: 180px;
}
